/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

h1 {
    color: #333;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input,
select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

a {
    text-decoration: none;
    color: #0066cc;
    margin-right: 10px;
}

a:hover {
    text-decoration: underline;
}

.issue-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.issue-card strong {
    color: #333;
}

.issue-card p {
    color: #666;
}

.logout-btn {
    background-color: #d9534f;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: #c9302c;
}

.checkbox-label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.checkbox-label input {
    margin-right: 5px;
}

.checkbox-label span {
    font-weight: bold;
    color: #333;
    margin-left: 5px;
}

.register-login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.register-login-container a {
    color: #333;
}

.register-login-container a:hover {
    text-decoration: underline;
}
